ul {
  margin: 0;
  padding: 0;
}
.cards {
  border-bottom: 1px solid #21212166;
  padding-top: 20px;
  padding-bottom: 40px;
}

.cards__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(413px, 413px));
  gap: 40px 20px;
  justify-content: center;
}

@media screen and (max-width: 832px) {
  .cards__content {
    grid-template-columns: 288px;
    gap: 20px 20px;
  }
}
