.card {
  list-style: none;
}
.card__image {
  width: 413px;
  height: 413px;
  border-radius: 8px;
}
.card__caption {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.card__heart-button {
  border: none;
  background-color: transparent;
  opacity: 40%;
  padding: 0;
  width: 23px;
  height: 20px;
}

.card__heart-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__content {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  max-width: 413px;
}

@media screen and (max-width: 832px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__caption {
    font-size: 16px;
    line-height: 1;
  }
}
