.card {
  list-style: none;
  position: relative;
}
.card__image {
  position: relative;
  width: 413px;
  height: 413px;
  border-radius: 8px;
  cursor: pointer;
  object-fit: cover;
}

.card__image:hover {
  opacity: 0.95;
}

.card__caption {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.card__heart-button {
  background-image: url("../images/like.svg");
  border: none;
  opacity: 0.4;
  padding: 0;
  width: 23px;
  height: 20px;
}

.card__heart-button:hover {
  opacity: 1;
  cursor: pointer;
}

.card__heart-button_active {
  background-image: url("../images/LIked-transparent.svg");
  opacity: 1;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.card__heart-button_active:hover {
  opacity: 0.5;
}

.card__delete-button {
  top: 10px;
  right: 10px;
  position: absolute;
  border: none;
  background-image: url("../images/State=Default.svg");
  background-color: transparent;
  padding: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.95;
  background-image: url("../images/State=Hover.svg");
}

.card__content {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  max-width: 413px;
}

@media screen and (max-width: 832px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__caption {
    font-size: 16px;
    line-height: 1;
  }
}
