.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #21212166;
  opacity: 40%;
}

.modal__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 730px;
  background-color: white;
  border-radius: 8px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 32px 50px;
}

.modal__header-text {
  font-weight: 500;
  font-size: 32px;
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
}

.modal__header-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 32px;
}

.modal__exit-icon {
  height: 23px;
  width: 23px;
  color: #212121;
  opacity: 40%;
}

.modal__save-button {
  max-width: 156px;
  background-color: #212121;
  color: white;
  border-radius: 8px;
  padding: 18px 32px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
}

.modal__label {
  margin-bottom: 8px;
  color: #212121b2;
  opacity: 70%;
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
}

.modal__input {
  opacity: 40%;
  margin-bottom: 32px;
  padding: 0;
  border-radius: 8px;
  padding: 16px 0 16px 12px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
}
@media screen and (max-width: 832px) {
  .modal__container {
    width: calc(100% - 20px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  .modal__save-button {
    max-width: 100%;
  }
}
