.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid #21212166;
}

.profile__section {
  display: flex;
  flex-direction: column;
}

.profile__picture {
  width: 190px;
  height: 190px;
  padding-right: 20px;
  border-radius: 8px;
}

.profile__name {
  margin: 0px;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  padding-top: 12px;
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  opacity: 70%;
}

.profile__post-button {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-left: auto;
  color: #fcf5e5;
  background-color: black;
  border-radius: 8px;
  gap: 8px;
  padding: 18px 32px;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__post-button:hover {
  opacity: 80%;
  cursor: pointer;
}

.profile__edit-button {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 0;
  opacity: 70%;
  gap: 8px;
  width: fit-content;
  background-color: #fcf5e5;
  border: none;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__edit-button:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 832px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .profile__picture {
    width: 80px;
    height: 80px;
    padding: 0;
    margin-bottom: 12px;
  }

  .profile__section {
    align-items: center;
    max-width: 288px;
    text-align: center;
  }
  .profile__name {
    margin: 0px;
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
  }
  .profile__post-button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 288px;
  }

  .profile__description {
    padding-top: 6px;
    padding-bottom: 32px;
  }
}
